{{ if session.user }}
	{{ redirect /admin/ }}
{{ / }}

doctype html
html
	head
		{{ asset /admin/assets/styles/dashboard.css }}

		title {{self.name}} &mdash; Sapling Dashboard

	body
		#login
			h2 Login to {{self.name}} Dashboard
			form(action="/api/login?goto=/admin" method="post")
				label
					span Email:
					input(type="email" name="email")

				label
					span Password:
					input(type="password" name="password")

				button(type="submit" class="button green") Login to Dashboard
				
			p: a(href="/admin/forgot") I forgot my password
