{{ if session.user }}
	{{ redirect /admin/ }}
{{ / }}

doctype html
html
	head
		{{ asset /admin/assets/styles/dashboard.css }}

		title {{self.name}} &mdash; Sapling Dashboard

	body
		#login
			h2 New password for {{self.name}}
			p Here is your new password. Make sure to change it to something more memorable in the Dashboard.

			p: var {{newpass}}

			p: a(href="/admin/login") Login