html {
	font-family: Helvetica, sans-serif;
}

body {
	margin: 0;
	padding: 0;
	background: #f8f8f8;
}

label {
	display: block;
	margin: 5px 0;
	font-size: 14px;
}

button {
	cursor: pointer;
}

label span:first-child {
	display: inline-block;
	width: 120px;
	color: #444;
	font-weight: bold;
}

label input, label select {
	width: 195px;
}

input, select {
	border: 2px solid #ccc;
	padding: 3px 18px 3px 5px;
	font-size: 15px;
	border-radius: 3px;
	background: white;
	outline: none;
	vertical-align: middle;
	font-family: "Helvetica Neue",Arial,Helvetica,Verdana,sans-serif;
}

select {
	background-image: url('/admin/assets/images/glyphs/arrow-down.png');
	background-repeat: no-repeat;
	background-position: 96% 5px;
	-moz-appearance: none;
    text-indent: 0.01px;
    text-overflow: '';
    outline: none;
}

input:focus, select:focus {
	border: 2px solid #9DC46F;
}

input:hover, select:hover {
	border: 2px solid #aaa;
}

input[type=checkbox] {
	width: 20px;
	margin-left: 120px;
	margin-top: -2px;
}

label.emph {
	font-size: 18px;
	margin: 10px 0;
	padding-bottom: 10px;
	border-bottom: 2px solid #ccc;
}

label.emph input {
	width: 205px;
}

label.floater {
	float: left;
}

label.floater input.unique {
	margin-left: 60px;
}

input.name {
	color: #5B7140;
	font-weight: bold;
}

h2 {
	font-size: 20px;
}

.top {
	background: #333;
	color: #ccc;
	padding: 5px 20px;
	font-size: 14px;
}

.top .details {
	float: right;
	margin-right: 10px;
	font-weight: 100;
}

.top .details strong {
	margin-right: 10px;
	font-weight: 600;
}

.top a {
	color: #fff;
	text-decoration: none;
}

ul.nav {
	padding: 5px 135px 5px 20px;
	margin: 0;
	list-style: none;
	line-height: 25px;
	
	background: #eeeeee; /* Old browsers */
	background: -moz-linear-gradient(top,  #eeeeee 0%, #cccccc 99%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#eeeeee), color-stop(99%,#cccccc)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #eeeeee 0%,#cccccc 99%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #eeeeee 0%,#cccccc 99%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #eeeeee 0%,#cccccc 99%); /* IE10+ */
	background: linear-gradient(to bottom,  #eeeeee 0%,#cccccc 99%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeeee', endColorstr='#cccccc',GradientType=0 ); /* IE6-9 */

	border-bottom: 1px solid #666;
}

ul.nav li {
	display: inline;
	margin-right: 20px;
}

ul.nav li a {
	color: #0A6B0A;
	text-decoration: none;
	font-weight: 400;
	text-shadow: 1px 1px 2px #cfd;
}

.Field {
	margin: 10px 0;
	position: relative;
	width: 480px;
}

.clearer {
	clear: both;
	display: block;
}

.hint {
	color: #888;
	font-size: 12px;
	display: block;
	margin-top: 5px;
}

.list {
	float: left;
	min-width: 150px;
}

.properties {
	display: none;
}

.new, .create {
	float: left;
	margin-left: 10px;
	margin-right: 10px;
}

.help {
	width: 200px;
	float: right;
	color: #666;
	margin-right: 10px;
	margin-top: -10px;
}

button.cancel {
	float: right;
	background: #c0392b;
	border: 0;
	color: white;
	height: 20px;
	margin: 0;
	background: url('/admin/assets/images/glyphs/cancel.png') no-repeat;
	margin-top: 8px;
}

button.remove-field {
	background: #ff7f7c; /* Old browsers */
	background: -moz-linear-gradient(top,  #ff7f7c 0%, #c0392b 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ff7f7c), color-stop(100%,#c0392b)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #ff7f7c 0%,#c0392b 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #ff7f7c 0%,#c0392b 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #ff7f7c 0%,#c0392b 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #ff7f7c 0%,#c0392b 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff7f7c', endColorstr='#c0392b',GradientType=0 ); /* IE6-9 */
	border: 1px solid #c0392b;
	text-shadow: -1px -1px #B81E1E;
	float: right;
	width: 120px;
	margin-top: 3px;
}

button.add-field {
	margin-left: 3px;
	width: 120px;
}

label span.field-name {
	color: #5B7140;
}

.button {
	border-radius: 2px;
	font-family: Helvetica, sans-serif;
	font-size: 14px;
	color: white;
	text-shadow: -1px -1px #ccc;
	padding: 4px 10px;
	cursor: pointer;
}

.heading {
	font-size: 20px;
	padding: 20px;
	background: #9DC46F;
	color: white;
	border-top: 1px solid #C3EA96;
	border-bottom: 1px solid #5B7140;
}

.intro {
	padding: 0 20px;
	line-height: 22px;
}

.intro h2 {
	font-weight: 100;
}

.row {
	position: relative;
	padding: 5px 5px 5px 0;
	height: 30px;
}

.list div.row.selected {
	background: white;
	border: solid #aaa;
	border-width: 1px 0;
	position: relative;
	left: 1px;
}

.row:nth-child(odd) {
	background: #eee;
}

.row:nth-child(even) {
	background: #ddd;
}

.pageList {
	margin-right: 10px;
	border-right: 1px solid #aaa;
}

.modelList {
	border-right: 1px solid #aaa;
}

.new.page {
	float: none;
}

.pageList .row, .modelList .row {
	cursor: pointer;
}

.pageList .row:hover, .modelList .row:hover {
	color: #9DC46F;
}

.pageList .row.selected:hover, .modelList .row.selected:hover {
	color: black;
}

.row span {
	padding: 0 20px;
	display: inline-block;
	margin: 6px 0;
}

.row .cancel {
	visibility: hidden;
	cursor: pointer;
	width: 20px;
}

.row:hover .cancel {
	visibility: visible;
}

.permissionList, .routeList {
	float: left;
}

.permissionList select, .routeList select {
	float: right;
}

.templateList {
	width: 150px;
	float: left;
	margin-right: 10px;	
}

.submit {
	font-family: Helvetica, sans-serif;
	float: right;
	border: 1px solid #5B7140;
	font-size: 16px;
	border-radius: 3px;
	text-shadow: -1px -1px #7D9D5A;
	color: white;
	padding: 10px 20px;
	background: #9DC46F; /* Old browsers */
	background: -moz-linear-gradient(top,  #9DC46F 0%, #7D9D5A 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#9DC46F), color-stop(100%,#7D9D5A)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #9DC46F 0%,#7D9D5A 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #9DC46F 0%,#7D9D5A 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #9DC46F 0%,#7D9D5A 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #9DC46F 0%,#7D9D5A 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9DC46F', endColorstr='#7D9D5A',GradientType=0 ); /* IE6-9 */
	box-shadow: 1px 1px 1px 0px #aaa;
	cursor: pointer;
}

.submit:hover, .green:hover {
	background: #7D9D5A; /* Old browsers */
	background: -moz-linear-gradient(top,  #7D9D5A 0%, #5B7140 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#7D9D5A), color-stop(100%,#5B7140)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #7D9D5A 0%,#5B7140 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #7D9D5A 0%,#5B7140 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #7D9D5A 0%,#5B7140 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #7D9D5A 0%,#5B7140 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7D9D5A', endColorstr='#5B7140',GradientType=0 ); /* IE6-9 */
}

.green {
	border: 1px solid #5B7140;
	text-shadow: -1px -1px #7D9D5A;
	background: #9DC46F; /* Old browsers */
	background: -moz-linear-gradient(top,  #9DC46F 0%, #7D9D5A 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#9DC46F), color-stop(100%,#7D9D5A)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #9DC46F 0%,#7D9D5A 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #9DC46F 0%,#7D9D5A 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #9DC46F 0%,#7D9D5A 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #9DC46F 0%,#7D9D5A 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9DC46F', endColorstr='#7D9D5A',GradientType=0 ); /* IE6-9 */
}


.config label span {
	margin-left: 20px;
}

#login {
	width: 400px;
	line-height: 22px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background: #fff;
	border: 1px solid #ccc;
	padding: 30px;
	text-align: center;
}

#login a {
	color: #9133FF;
	font-size: 14px;
}

#login p {
	color: #666;
}

.heading {
	background-repeat: no-repeat;
	background-position: 20px 18px;
	padding-left: 60px;
}

.heading.page {
	background-image: url('/admin/assets/images/glyphs/pages.png');
}

.heading.model {
	background-image: url('/admin/assets/images/glyphs/models.png');
}

.heading.route {
	background-image: url('/admin/assets/images/glyphs/routes3.png');	
}

.heading.template {
	background-image: url('/admin/assets/images/glyphs/template.png');
	background-position: 20px 14px;
}

.heading.permissions {
	background-image: url('/admin/assets/images/glyphs/permissions.png');
	background-position: 20px 14px;
}

.heading.config {
	background-image: url('/admin/assets/images/glyphs/config.png');
	background-position: 20px 14px;
}

.new .CodeMirror {
  border: 1px solid #ccc;
  height: auto;
  font-size: 15px;
  margin-bottom: 5px;
}

.new .CodeMirror-scroll {
  overflow-y: hidden;
  overflow-x: auto;
}

.error {
	position: relative;
	background: #c0392b;
	padding: 15px 20px;
	display: none;
	color: #FDD7D7;
}

.error.ok {
	background: #005F85;
	color: white;
}

.error .cancel {
	margin: 0;
	width: 25px;
	outline: none;
}

.newpage {
	display: block;
	width: 95%;
	margin: 5px auto;
}

#page {
	position: relative;
}

.space-name {
	text-transform: uppercase;
}

.fieldList div.header {
	background: #dedede;
	padding: 5px;
	margin-left: 0;
}

.header input {
	width: 295px;
	margin-left: 5px;
}

.header strong {
	color: #666;
	text-align: center;
	cursor: pointer;
	vertical-align: middle;
	width: 25px;
	height: 42px;
	margin: -5px 0 -5px -5px;
	display: inline-block;
	background: #eee;
	line-height: 45px;
}

.fieldList label {
	margin-left: 10px;
}

.sep {
	border-top: 1px solid #eee;
}
