textarea, select, input[type="text"] {
-webkit-box-sizing: content-box;
-moz-box-sizing: content-box;
box-sizing: content-box;
-webkit-background-clip: padding;
-moz-background-clip: padding;
background-clip:padding-box;
-webkit-appearance:none;
-moz-appearance:none;
background-color:#fff;
color:#000;
outline:0;
text-align: left;
vertical-align: middle;
}